<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>ACOUNT APP</title>
</head>
<body style="background-color: #2F4F4F; color: white;">
    <div class="jumbotron text-center">
        <h3 style="color: black;">ACOUNT APP</h3>
        <a href="/" class="btn btn-info">Acount</a>
        <a href="/add" class="btn btn-success">ADD Acount</a>
        <a href="/edit" class="btn btn-warning">Edit/Delete</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-2">
                <h3>Acount</h3>

            </div>
        </div>
    </div>