
<%- include ('partials/head')  %> 
<div class="container">
<div class="row">
    <div class="col-10 offset-2">
        <form action='/save' method="POST">
            <input type="text" name="ime" placeholder="Unesite ime" class="form-control"><br>
            <input type="text" name="prezime" placeholder="Unesite Prezime" class="form-control"><br>
            <input type="text" name="phone" placeholder="Unesite broj" class="form-control"><br>
        
            <button type="submit" class="btn btn-primary form-control">UNESI</button>
        
        </form>

    </div>
</div>
</div>




<%- include ('partials/footer')  %> 
