<%- include ('partials/head') %> 
 <div class="container">
     <div class="row">
         <div class="col-10 offset-1">
             
             <div class="row">
                 <div class="col-10 offset-1">
                    <form action="/edit/izmeni" method="POST">
                        <input type="hidden" name="id" value="<%= data._id %>">
                        <input type="text" name="ime" value="<%= data.ime %>" class="form-control"><br>
                        <input type="text" name="prezime" value="<%= data.prezime %>"  class="form-control" ><br>
                        <input type="text" name="phone" value="<%= data.phone %>"  class="form-control"><br>
                        <button type="submit" class="btn btn-warning form-control">IZMENI</button>
                    </form>
                 </div>
             </div>
         </div>
     </div>
 </div>
<%- include ('partials/footer')  %> 