<%- include ('partials/head')  %> 
<div class="container">
<div class="row">
    <div class="col-10 offset-2">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col">IME</th>
                <th scope="col">PREZIME</th>
                <th scope="col">TEL</th>
                <th scope="col">AKCIJA</th>
                 </tr>
            </thead>
            <tbody>
                <% for(i=0;i<data.length;i++){ %> 
                <tr>
                    <td><%= data[i].ime %> </td>
                    <td><%= data[i].prezime %> </td>
                    <td><%= data[i].phone %> </td>
                    <td>
                        <a href="/delete/<%= data[i]._id %> " class="btn btn-danger">IZBRISI</a>
                        <a href="/edit-acc/<%= data[i]._id %> "class="btn btn-warning">EDIT</a>
                    
                    </td>
                </tr>
                <% } %> 
            </tbody>
        
        
        </table>

    </div>
</div>
</div>




<%- include ('partials/footer')  %> 
